---
import BaseHead from '@/components/astro/BaseHead.astro'
import CodeEditor from '@/components/editor/CodeEditor'

export const prerender = true;

// =====================================
// Cope Page
// =====================================

---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={"Code"} description={"a simple online code playground."} />
    <link type="text/css" rel="stylesheet" href="/styles/material-palenight.css">
  </head>
  <body class="min-h-screen min-w-screen flex flex-1 flex-col bg-editor-200">
    <div class="flex flex-1 grow flex-col w-full min-h-screen bg-editor-200">
      <CodeEditor code={''} client:only="react" />
    </div>
  </body>
</html>
<style>
  body {
    background-color: #1e1e1e;
    color: #e2e8f0;
  }
</style>
