---
import { getCollection } from 'astro:content'
import Section from '@/components/astro/Section.astro'
import BlogPreviewList from '@/components/astro/BlogPreviewList.astro'
import { Newspaper } from 'lucide-react'

import SiteLayout from '@/layouts/SiteLayout.astro'

export const prerender = false

// =====================================
// Blog Page
// =====================================

// Extract any filters from the url
const tagFilters = Astro.url.searchParams
  .get('tags')
  ?.toLowerCase()
  .split(',')
  .filter(Boolean)
  .map((tag) => tag.trim())

const blog = await getCollection('blog')
const posts = blog
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((blog) => {
    if (!tagFilters) return blog
    if (!blog.data.hashTags) return false
    const hashTags = blog.data.hashTags.toLowerCase()
    return tagFilters.every((tag) => hashTags.includes(tag))
  })
---

<SiteLayout>
  <article class="flex flex-col grow max-w-screen-xl mx-auto px-4">
    <Section
      title="Articles"
      description="My thoughts unleashed on the world!"
      icon={Newspaper}
    >
      <BlogPreviewList
        posts={posts}
        className="grid xl:grid-cols-3 lg:grid-cols-2 grid-cols-1 max-screen-sm"
      />
    </Section>
  </article>
</SiteLayout>
