---
import BaseHead from '@/components/astro/BaseHead.astro'
import Header from '@/components/astro/Header.astro'
import Footer from '@/components/astro/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts'
import { getCollection } from 'astro:content'
import Section from '@/components/astro/Section.astro'
import BlogPreviewList from '@/components/astro/BlogPreviewList.astro'
import { Newspaper } from 'lucide-react'

// =====================================
// Blog Page
// =====================================

const blog = await getCollection('blog')
const posts = blog.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)

---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="min-h-screen flex flex-col">
    <Header />
    <main class="flex flex-col flex-grow max-w-screen-lg mx-auto px-4">
      <Section title="Articles" description='My thoughts unleashed on the world!' icon={Newspaper}>
        <BlogPreviewList posts={posts ?? []} />
      </Section>
    </main>
    <Footer />
  </body>
</html>
