---
import { cn } from '@/utils/cn'

interface Props {
  className?: string
}
---

<script>
  import { z } from 'astro:schema'
  import { defineComponent } from './defineComponent'

  defineComponent(`<rx-side-bar data-state='{"open":true}'>`, (element) => {
    console.log('attached:', element)

    element.onclick = () => {
      console.log('clicked:', element.state)
      element.state.open = false
    }
  })
</script>

<rx-side-bar
  data-state="{open:true}"
  className="bg-neutral-800 drop-shadow-md transition-all duration-300 ease-in-out h-full flex flex-col"
>
  <div class="sticky top-0 p-4 flex justify-between items-center min-h-[60px]">
    <slot name="sidebar-header" />
  </div>
  <slot />
  <slot name="sidebar-footer" />
</rx-side-bar>
