---
import clsx from 'clsx'

interface Props {
  href: string
  image?: string
  class?: string
  name: string
  info: string
}

const { name, info, href, image, class: className } = Astro.props
---

<a
  href={href}
  class={clsx(
    'bg-zinc-100 flex flex-col items-end grow justify-end overflow-hidden rounded-2xl md:row-span-2 md:col-span-2 h-96 relative group',
    className
  )}
>
  <!-- Background Image Layer -->
  <div
    class="absolute inset-0 transform -rotate-3 scale-120 transition-transform duration-700
          group-hover:scale-125 bg-cover bg-center"
    style={`background-image: url(${image})`}
  >
  </div>

  <!-- Overlay Layer with Blur -->
  <div
    class="absolute inset-0 backdrop-blur-none group-hover:backdrop-blur-xs duration-500 transition-transform bg-linear-to-b to-black/90 from-black/5 via-black/60"
  >
  </div>

  <!-- Content Layer -->
  <div
    class="relative inset-0 z-10 justify-start w-full flex flex-col gap-y-4 items-start p-6 group-hover:scale-102 transition-transform duration-500"
  >
    <p class="text-4xl font-black text-white text-shadow">{name}</p>
    <p class="text-md line-clamp-1 text-white max-w-4/5 text-ellipsis">
      {info}
    </p>
  </div>
</a>
