---
import SocialLinkGithub from './SocialLinkGithub.astro'
import SocialLinkTwitter from './SocialLinkTwitter.astro'

const today = new Date()
const fullYear = today.getFullYear()
---

<footer class="w-full flex flex-col shrink items-center justify-center min-h-16 pt-6 pb-8 gap-y-4">
  <div class="flex gap-x-4">
    <SocialLinkTwitter />
    <SocialLinkGithub />
  </div>
  <p class="text-sm text-center">
    <span>&copy; {fullYear} Colin Teahan.</span>
    <br />
    <span class="text-xs">All rights reserved.</span>
  </p>
</footer>
<style>
  footer {
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
    min-height: 80px;
    margin: 0;
  }
</style>
