---
import { cn } from '@/utils/cn'
import { siteConfig } from '@/consts'

interface Props {
  className?: string
  hashTags?: string | undefined
}

const { className, hashTags = '' } = Astro.props

const tags = hashTags
  .toLowerCase()
  .split(',')
  .map((item) => item.trim())

const hasHashTags = Boolean(tags.length > 0)

const getColor = (tag: string) => {
  return siteConfig.hashTagColors[tag] || siteConfig.hashTagColors.default
}

const capitalize = (tag: string) => {
  if (tag.length === 0) return ''
  if (tag.length === 1) return tag.toUpperCase()
  if (tag.length === 3) return tag.toUpperCase()
  if (tag.length === 3) return tag.toUpperCase()
  return tag.slice(0, 1).toUpperCase() + tag.slice(1).toLowerCase()
}
---

<Fragment>
  {
    hasHashTags ? (
      <div
        class={cn(
          'mx-auto flex flex-row items-center gap-4 justify-center',
          className
        )}
      >
        {tags.map((tag) => {
          return (
            <a
              class={cn(
                'px-4 py-2 min-w-28 opacity-70 hover:opacity-100 transition-opacity duration-300 rounded-full flex-1 font-semibold font-mono text-center text-white tracking-wide leading-4 text-xs line-clamp-1',
                getColor(tag)
              )}
              href={`/blog?tags=${tag}`}
            >
              {capitalize(tag)}
            </a>
          )
        })}
      </div>
    ) : null
  }
</Fragment>
