---
import FormattedDate from "./FormattedDate.astro"

// =====================================
// Hero Title
// =====================================

interface Props {
  title: string
  pubDate: Date
  updatedDate?: Date
}

const { title, pubDate, updatedDate } = Astro.props

---
<div class="text-center flex flex-col gap-y-2 py-4">
  <div class="date text-gray-500">
    <FormattedDate date={pubDate} />
    {
      updatedDate && (
        <div class="italic">
          Last updated on <FormattedDate date={updatedDate} />
        </div>
      )
    }
  </div>
  <p class="text-5xl text-balance font-black leading-1 mb-2">{title}</p>
  <hr class="" />
</div>