---
interface Props {
  src?: string
  alt?: string
}

const { src, alt } = Astro.props
---

<div id="hero-image" class="flex flex-1 items-center justify-center w-full">
  <img
    src={src}
    alt={alt}
    aria-label={alt}
    class="md:rounded-3xl md:shadow-2xl object-cover aspect-video md:max-w-3xl w-full hover:scale-101 active:scale-99 transition-transform duration-150"
  />
</div>
