---
import HeaderLink from '@/components/astro/HeaderLink.astro'
import SocialLinkGithub from './SocialLinkGithub.astro'
import SocialLinkTwitter from './SocialLinkTwitter.astro'
import { SITE_TITLE } from '@/consts'
---
<header class="min-w-full">
  <nav class="flex flex-row justify-between items-center h-[78px] px-4 bg-white">
    <div class="title-and-logo">
      <img src="/images/logo.png" width="44" height="44" />
      <h2 class="hidden sm:block">
        <a class="font-black text-lg" href="/">{SITE_TITLE}</a>
      </h2>
    </div>
    <div class="flex flex-row gap-x-1 items-center">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <div class="hidden gap-x-3 sm:flex flex-row">
      <SocialLinkTwitter />
      <SocialLinkGithub />
    </div>
  </nav>
</header>
<style>
nav a {
  padding: 1em 0.5em;
  color: var(--black);
  border-bottom: 4px solid transparent;
  text-decoration: none;
}
nav a.active {
  text-decoration: none;
  border-bottom-color: var(--accent);
}
header {
    margin: 0;
    padding: 0;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
</style>