---
import HeaderLink from '@/components/astro/HeaderLink.astro'
import SocialLinkGithub from './SocialLinkGithub.astro'
import SocialLinkTwitter from './SocialLinkTwitter.astro'
import { siteConfig } from '@/consts'

const { title } = siteConfig
---

<header class="min-w-full sticky" transition:animate="none">
  <nav class="flex flex-row justify-between items-center h-[78px] px-4 bg-white">
    <!-- logo and site title -->
    <div class="basis-1/4 flex flex-row items-center">
      <a class="hover:scale-105 transition-all duration-300" href="/"
        ><img src="/images/logo.png" width="44" height="44" /></a
      >
      <h2 class="hidden md:block">
        <a class="font-black text-lg" href="/">{title}</a>
      </h2>
    </div>
    <!-- navigation buttons -->
    <div class="flex flex-row gap-x-1 items-center">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <!-- social media links -->
    <div class="hidden gap-x-3 sm:flex flex-row basis-1/4 items-center justify-end">
      <SocialLinkTwitter />
      <SocialLinkGithub />
    </div>
  </nav>
</header>
<style>
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  header {
    margin: 0;
    padding: 0;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
</style>
