---
import { cn } from '@/utils/cn'

export const prerender = false

interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<div class={cn('h-[78px]', className)}>
  <page-metrics></page-metrics>
</div>
<script>
  import { PageMetrics } from '@/components/web/PageMetrics'
  import { actions } from 'astro:actions'
  PageMetrics.register()

  document.addEventListener('astro:page-load', () => {
    const referer = window.location.href
    const likedStorageKey = `liked:${window.location.pathname}`

    function onUpdatePageMetrics(
      data: { views: number; likes: number } | undefined
    ) {
      if (!data) return
      PageMetrics.collectElements().forEach((elem) => {
        const hasLiked = localStorage.getItem(likedStorageKey) ?? "false"
        elem.setAttribute('likes', String(data.likes))
        elem.setAttribute('views', String(data.views))
        elem.setAttribute('hasLiked', hasLiked)
      })
    }

    document.addEventListener(PageMetrics.events.onLikedPage, () => {
      console.log('[client] on liked page!')
      const cachedLikeStatus = localStorage.getItem(likedStorageKey) ?? "false"
      const isLiked = cachedLikeStatus === "true"

      actions
        .onPageLike({ referer, unliked: isLiked })
        .then(({ data, error }) => {
          console.log('[client] on liked page:', { data, error })
          localStorage.setItem(likedStorageKey, isLiked ? "false" : "true")
          onUpdatePageMetrics(data)
        })
    })

    actions.onPageView({ referer }).then(({ data }) => {
      onUpdatePageMetrics(data)
    })
  })
</script>
