---
import { cn } from '@/utils/cn'

export const prerender = false

interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<div class={cn('h-[78px]', className)}>
  <page-metrics></page-metrics>
</div>
<script>
  import { PageMetrics } from '@/components/web/PageMetrics'
  import { actions } from 'astro:actions'
  PageMetrics.register()

  document.addEventListener('astro:page-load', () => {
    const referer = window.location.href

    function onUpdatePageMetrics(
      data: { views: number; likes: number } | undefined
    ) {
      if (!data) return
      PageMetrics.collectElements().forEach((elem) => {
        elem.setAttribute('likes', String(data.likes))
        elem.setAttribute('views', String(data.views))
      })
    }

    document.addEventListener(PageMetrics.events.onLikedPage, () => {
      actions
        .onPageLike({ referer, unliked: !PageMetrics.isLiked() })
        .then(({ data }) => onUpdatePageMetrics(data))
    })

    actions.onPageView({ referer }).then(({ data }) => {
      onUpdatePageMetrics(data)
    })
  })
</script>
