---
import { clsx } from 'clsx'
import '@/styles/global.css'

// ===============================
//  Prose
//
//  A container for text content which handles spacing and typography,
//  making it easier to write and style text content.
//
// ============================

interface Props {
  className?: string
}

const { className } = Astro.props
---

<div id="prose" aria-label="Article Content" class={clsx('flex flex-col gap-y-2 w-full', className)}>
  <slot />
</div>
