---
import * as Lucide from 'lucide-react'
import HashTags from './HashTags.astro'

interface Props {
  title: string
  description: string
  icon?: typeof Lucide.Newspaper
  anchorTag?: string
  hashTags?: string | undefined
}

const { title, anchorTag, description, hashTags = undefined, icon: SectionIcon = Lucide.FileWarning } = Astro.props
---

<section class="py-16" id={anchorTag}>
  <!-- Header -->
  <header class="max-w-3xl mx-auto px-4 text-center mb-4">
    <SectionIcon className="mx-auto text-neutral-300 mb-6" size={96} strokeWidth={1.5} />

    <h1 class="text-4xl md:text-5xl font-bold text-gray-900">
      {title}
    </h1>

    <p class="mt-2 text-gray-500 text-lg max-w-xl mx-auto">
      {description}
    </p>

    {
      hashTags && (
        <div class="mt-4 flex flex-col items-center gap-4">
          <HashTags hashTags={hashTags} className="justify-center" />
          <a
            href="/blog"
            class="text-sm text-gray-400 hover:text-accent transition-colors underline underline-offset-4"
          >
            Clear filters
          </a>
        </div>
      )
    }
  </header>

  <!-- Divider -->
  <div class="w-24 h-1 text-neutral-300 mx-auto mb-4"></div>

  <!-- Content -->
  <div class="py-4 border-y border-gray-100">
    <slot />
  </div>
</section>
