:root {
  --color-border-muted: #21262d;
  --color-link: #58a6ff;
  /* --color-text: rgba(201, 209, 217); */

  --border-color: rgba(0, 0, 0, 0.1);

  /** light mode code-styling **/
  /* --code-background: rgba(246, 246, 246); */
  --code-foreground: rgba(255, 255, 255, 0.75);
  --code-background: rgba(255, 225, 255, 0.1);

  --color-text: white;
  --font-size: 22px;
  --line-height: 32px;

  /** bright yellow **/
  --color-yellow: #ffd200;
  --color-purple: #7300ff;
}

.article {
  /* border: 8px dashed greenyellow; */

  padding: 10px;
  display: grid;
  /* grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 1rem; */

  /* font styling */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */

  font-family: "Work Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial,
    sans-serif;
  color: var(--color-text);
  overflow-wrap: break-word;
  text-size-adjust: 100%;
  letter-spacing: 0.2px;
  line-height: var(--line-height);
  font-size: var(--font-size);

  /* overflow: hidden; */
}

@media (max-width: 840px) {
  .article {
    max-width: min(100vw, 840px);
    /* width: auto; */
    margin: auto auto;
  }
}

@media (min-width: 841px) {
  .article {
    max-width: min(100vw, auto);
    /* width: auto; */
    margin: auto auto;
  }
}

/* article content container  */
div.article article {
  /* border: 8px dashed red; */
  border-radius: 4px;
  padding: 10px;
  width: auto;
  margin: auto;
}

/* article sidebar container */
.article-side {
  /* border: 8px dashed blue; */
  border-left: 1px solid var(--border-color);
  padding: 16px;
  margin-top: 10%;
  width: 100%;
}

/* article basic font */

div.article a {
  text-decoration: underline;
  /* color: var(--color-purple); */
}

div.article img {
  width: auto;
  object-fit: cover;
  border-radius: 8px;
}

div.article h1,
h2 {
  padding-top: 24px;
  padding-bottom: 24px;

  border-bottom: 1px solid var(--border-color);

  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 3rem;
  text-size-adjust: 100%;
  color: var(--color-yellow);
}

div.article h1 {
  color: var(--color-yellow);
  font-weight: 600;
}

div.article p,
div.article ul,
div.article ol,
div.article img,
div.article pre,
div.article code {
  margin: 24px 0px;
}

div.article h2 {
  font-size: 2rem;
}

div.article h3 {
  font-size: 1.6rem;
}

/* ordered list styling */
div.article ol {
  list-style-type: disc;
  list-style-position: outside;
  padding-inline-start: 16px;
  margin-left: 16px;
}

div.article ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-inline-start: 16px;
  margin-left: 16px;
}

div.article li {
  margin: 8px 0px;
}

/* code snippet styling */
div.article pre {
  /* background-color: var(--code-background); */
  /* color: var(--code-foreground); */
  border-radius: 8px;
  padding: 10px 10px;
  font-size: 16px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* inline code styling */
div.article p > code {
  background-color: var(--code-background);
  color: var(--code-foreground);
  border-radius: 4px;
  padding: 4px 4px;
}
