@import 'tailwindcss';

/* Base list styling */
ul,
ol {
  padding-left: 1.5rem;
  margin: 1.5rem 0;
  line-height: 1.6;
}

/* Unordered list (ul) */
ul {
  list-style-type: none;
}

ul li {
  position: relative;
  padding-left: 1.5rem;
  margin-bottom: 0.75rem;
  color: black;
}

ul li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.7rem;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: var(--black-100);
}

/* Nested unordered lists */
ul ul li::before {
  opacity: 0.8;
}

ul ul ul li::before {
  opacity: 0.6;
}

/* Ordered list (ol) */
ol {
  list-style-type: decimal;
  padding-left: 2.5em;
}

ol li {
  padding-left: 1em;
  margin-bottom: 0.75rem;
  color: var(--black-100);
}

ol li p {
  padding: 0;
}

ol ul {
  padding-left: 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  ul,
  ol {
    padding-left: 1rem;
  }

  ul li {
    padding-left: 1.2rem;
  }

  ol li {
    padding-left: 0.8rem;
  }
}
