@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @media (min-width: 768px) {
    .pop:hover {
      transform: scale(1.04);
      transition: transform 0.1s ease-out;
    }
  }
}

:root {
  --accent: #ffbf00;
  --accent-dark: #ffac1c;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);

  --box-shadow-sm: 0 1px 3px rgba(var(--gray), 25%),
    0 4px 12px rgba(var(--gray), 33%), 0 8px 16px rgba(var(--gray), 33%);

  --theme-bg-gradient-top: #2a233e;
  --theme-bg-gradient-bottom: #171424;
  --theme-navbar-height: 6rem;
  --theme-mobile-toc-height: 4rem;

  --padding-sm: 1rem;
  --padding-lg: 2rem;

  --max-width-article: 820px;

  --black-30: rgba(0, 0, 0, 0.3);

  /** table styles */
  --table-max-col-width: 120px;
  --table-min-col-width: 2px;
}

@font-face {
  font-family: 'Atkinson';
  src: url('/fonts/atkinson-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson';
  src: url('/fonts/atkinson-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body {
  overflow-x: none;
  overscroll-behavior-x: none;
}

body {
  font-family: 'Atkinson', sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: white;
  background: linear-gradient(var(--gray-gradient)) no-repeat;
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: rgb(var(--gray-dark));
  font-size: 20px;
  line-height: 1.7;
}

.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

/* Blog Specific Styles */

.blog-title {
  color: rgb(15, 18, 25);
  font-size: 1.563em;
  line-height: 1.2;
  margin: 0;
  font-family: Atkinson, sans-serif;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  font-weight: bold;
}

.blog-text {
  font-family: Atkinson, sans-serif;
}

/* Custom Designed Elements */

.title-and-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.beara-banner {
  text-align: center;
}

/** 
 * Custom Styling for the Navbar
 *
 * Custom styling specifically for the navbar goes here 
 * under the #navbar selector.
 */
.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

/* hr {
  margin-top: var(--padding-smz);
  margin-bottom: var(--padding-lg);
} */

/** 
 * Blog Styling
 *
 * Custom styling specifically for the blog goes here 
 * under the #prose selector.
 */
#prose {
  display: flex;
  flex-direction: column;
  background-color: white;
  row-gap: 1rem;

  width: var(--max-width-article); /* ARTICLE MAX WIDTH  */
  max-width: calc(100%);

  hr {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* font-family: Atkinson, sans-serif; */
    padding-left: var(--padding-sm);
    font-weight: 700;
    display: block;
    line-height: 1;
    text-wrap: balance;
  }

  h2 {
    font-size: 2.5em;
    padding: 0 8px;
  }

  h3 {
    font-size: 2em;
    padding-top: 1em;
  }

  h4 {
    font-size: 1.5em;
    margin-top: var(--padding-sm);
    margin-bottom: -0.8rem;
  }

  p {
    font-size: 18px;
    padding: 0 var(--padding-sm);
    margin: 0;
  }

  a {
    color: black;
    text-decoration: none;
    border-bottom: 2px solid var(--accent);
    transition: border-bottom 0.2s ease-in-out;
  }

  a:hover {
    color: var(--accent);
    transition: color 0.2s ease-in-out;
  }

  strong {
    font-weight: 550;
  }

  /* reset default styles */
  pre > code {
    all: unset;
  }

  /* inline code styling */
  code {
    background-color: rgb(var(--gray-light));
    border-radius: 4px;
    padding: 2px 5px;
    font-size: 16px;
  }

  /* code box styling */
  pre {
    padding: var(--padding-sm);
    overflow-x: scroll;
    font-size: 16px;
  }

  /* stock chart */
  .stock-chart {
    box-shadow: var(--box-shadow);
    background-color: #000;
    /* overflow: hidden; */
    margin-top: var(--padding-sm);
    margin-bottom: var(--padding-lg);
    border-radius: 0px;
  }

  textarea {
    width: 100%;
    font-size: 16px;
  }
  input {
    font-size: 16px;
  }

  table {
    margin-left: var(--padding-sm);
  }

  ul,
  ol {
    tab-size: 4;
    margin-left: 1.5em;
    margin-block-start: var(--padding-sm);
    margin-block-end: 1.2em;
    padding-inline-start: 0.4em;
    list-style-position: outside;
  }

  ul > li {
    list-style-type: disc;
    font-family: Atkinson, sans-serif;
    padding-inline-start: 8px;
    line-height: 34px;
    font-size: 1em;
    margin-top: 0;
  }

  ol > li {
    list-style-type: decimal;
    font-family: Atkinson, sans-serif;
    line-height: 34px;
    font-size: 1em;
    margin-top: 1em;
  }

  /* article > li {
    border: none;
    color: rgb(34, 41, 57);
    list-style-type: disc;
    font-family: Atkinson, sans-serif;
    padding-inline-start: 0.4em;
    padding-inline-end: 1.2em;
    line-height: 34px;
    font-size: 1em;
  } */

  img {
    overflow: hidden;
    border-radius: 4px;
  }

  blockquote {
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-left: 4px solid var(--accent);
    padding-right: 1rem;
    padding-bottom: 1rem;
    margin: 0;
    font-size: 1rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: white;
    box-shadow: var(--box-shadow-sm);
  }

  blockquote > p {
    margin-bottom: 0em;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
