---
type Props = astroHTML.JSX.ImgHTMLAttributes & {
  outerStyle?: string;
  innerStyle?: string;
};

const {
  src,
  height = "",
  alt = "aslepacec.com",
  innerStyle = "",
  outerStyle = "text-center",
} = Astro.props;
---

<div class="flex justify-center">
  <img src={src} alt={alt} height={100} class={innerStyle} />
</div>
