---
import BaseHead from '@/components/astro/BaseHead.astro'
import Footer from '@/components/astro/Footer.astro'
import PageNavigation from '@/components/astro/PageNavigation.astro'
import clsx from 'clsx'

interface Props {
  title?: string
  description?: string
  image?: string
  className?: string
}

const {
  title = 'Asleepace',
  description = 'My personal website for everything & anything.',
  className,
  image = '/images/about-me.jpeg',
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body
    class="min-h-screen min-w-full items-center self-stretch flex flex-col flex-1 overflow-x-hidden"
  >
    <PageNavigation />
    <main class={clsx('w-full flex flex-col items-center', className)}>
      <!-- dynamic content -->
      <slot />
    </main>
    <Footer />
  </body>
</html>
