---
import BaseHead from '@/components/astro/BaseHead.astro'
import Footer from '@/components/astro/Footer.astro'
import PageNavigation from '@/components/astro/PageNavigation.astro'

interface Props {
  title?: string
  description?: string
  image?: string
}

const { 
  title = 'Asleepace', 
  description = 'My personal website for everything & anything.', 
  image 
} = Astro.props;

---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body class="min-h-screen min-w-full items-center self-stretch flex flex-col flex-1 overflow-x-hidden">
    <PageNavigation />
    <main class="w-full flex flex-col items-center">
      <!-- dynamic content -->
      <slot />
    </main>
    <Footer />
  </body>
</html>