---
import BaseHead from '@/components/astro/BaseHead.astro'
import { siteData } from '@/consts'
import '@/styles/data-table.css'
import AdminPanelSidebar from '@/components/admin/AdminPanelSidebar.astro'
import AdminPageInfo from '@/components/admin/AdminPageInfo.astro'
import AdminCommandLine from '@/components/admin/AdminCommandLine'
import ContainerLabeled from '@/components/astro/ContainerLabeled.astro'

export const prerender = false;

// =====================================
// Admin Page
// =====================================

const { user, isLoggedIn } = Astro.locals

if (!isLoggedIn || !user) {
  console.warn('[admin] not authorized, be gone!')
  return Astro.redirect('/login')
}

const adminPageInfo = {
  ...process.env, 
}

---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <BaseHead title={siteData.title} description={siteData.description} />  
  </head>
  <body class="flex flex-col flex-1 min-h-full w-full bg-black text-white overflow-x-hidden">
    <main class="flex flex-row h-full flex-1 bg-zinc-950">
      <!-- side bar -->
      <AdminPanelSidebar activeTab={0} />
      <div class="flex h-full flex-row flex-1 overflow-hidden max-h-screen justify-center items-start gap-16 p-16">
        <!-- welcome message & search bar -->
        <div class="flex flex-col gap-y-4 flex-1 self-stretch max-w-screen-xl">
          <p class="text-6xl font-bold">Admin Panel</p>
          <p class="tracking-wide text-zinc-400 py-2">Welcome to the admin page <strong>{user.username}!</strong></p>
          <AdminCommandLine client:only="react" />
        </div>
        <ContainerLabeled label="Environment" className='basis-1/4 max-w-screen-xs max-h-[600px]'>
          <AdminPageInfo data={adminPageInfo} />
        </ContainerLabeled>
      </div>
    </main>
  </body>
</html>
