---
import BaseHead from '@/components/astro/BaseHead.astro'
import Header from '@/components/astro/Header.astro'
import Footer from '@/components/astro/Footer.astro'
import { siteData } from '@/consts'
import { Sessions, Users } from '@/db'
import { UserFlags, type User } from '@/db/types'

export const prerender = false;

// =====================================
// Admin Page
// =====================================

let admin: User | undefined

try {
  const session = Astro.cookies.get('session')
  admin = Sessions.adminOnly(session?.value)
  // TODO: remove this after testing
  Users.setFlags(admin, UserFlags.SuperAdmin)
  Users.setFlags(admin, UserFlags.Admin)
} catch (error) {
  console.warn('[admin] error:', error)
  return Astro.redirect('/login')
}

if (!admin) {
  console.warn('[admin] not authorized, be gone!')
  return Astro.redirect('/login')
}

---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={siteData.title} description={siteData.description} />
  </head>
  <body class="min-h-screen flex flex-col bg-white">
    <Header title={siteData.title} />
    <main class="flex flex-col flex-grow max-w-screen-lg justify-center items-center mx-auto px-4">
      <div class="flex flex-col gap-2">
        <p class="text-5xl font-bold text-center">Admin</p>
        <p class="text-center">Welcome to the admin page <strong>{admin.username}!</strong></p>
        <p class="text-7xl font-bold text-center">🎉</p>
    </main>
    <Footer />
  </body>
</html>
