---
import BaseHead from '@/components/astro/BaseHead.astro'
import Header from '@/components/astro/Header.astro'
import Footer from '@/components/astro/Footer.astro'
import { siteData } from '@/consts'
import { Sessions, Users } from '@/db'
import { UserFlags, type User } from '@/db/types'
import { MemoryUsageTable } from '@/components/admin/MemoryUsageTable.tsx'
import { ProcessInfoWidget } from '@/components/core/ProcessInfoWidget.tsx'
import clsx from 'clsx'

export const prerender = false;

// =====================================
// Admin Page
// =====================================

let admin: User | undefined

try {
  const session = Astro.cookies.get('session')
  admin = Sessions.adminOnly(session?.value)
} catch (error) {
  console.warn('[admin] error:', error)
  return Astro.redirect('/login')
}

if (!admin) {
  console.warn('[admin] not authorized, be gone!')
  return Astro.redirect('/login')
}

const hideScrollBars = true

---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <BaseHead title={siteData.title} description={siteData.description} />  
  </head>
  <body class="flex flex-col flex-1 min-h-full w-full bg-black text-white overflow-x-hidden">
    <main class="flex flex-row h-full flex-1 bg-zinc-950">
      <!-- side bar -->
      <aside class="w-64 bg-black px-2 py-16 gap-y-2 flex flex-col text-zinc-300">
        <button class="w-full bg-transparent rounded-md p-2">
          <p>Database</p>
        </button>
        <button class="w-full bg-transparent rounded-md p-2">
          <p>Sessions</p>
        </button>
        <button class="w-full bg-transparent rounded-md p-2">
          <p>Settings</p>
        </button>
        <button class="w-full bg-transparent rounded-md p-2">
          <p>Tools</p>
        </button>
      </aside>
      <div class="flex h-full flex-row flex-1 overflow-hidden max-h-screen justify-center items-start gap-16 p-16">
        <!-- welcome message & search bar -->
        <div class="flex flex-col flex-1 self-stretch max-w-screen-xs">
          <p class="text-6xl font-bold">Admin</p>
          <p class="tracking-wide text-zinc-400 py-2">Welcome to the admin page <strong>{admin.username}!</strong></p>
          <input type="text" placeholder="Search" class="w-full bg-zinc-800 focus:ring-0 focus:outline-none focus:border-orange-500 rounded-md p-2" />

          <div class="flex flex-col flex-1 self-stretch items-start justify-start">
            <p class="text-7xl font-bold m-auto">🎉</p>
          </div>
        </div>
        <!-- memory usage statistics -->
        <div class={
        clsx("flex flex-col flex-1 basis-1/4 self-stretch min-h-[400px] mb-16 bg-zinc-900 overflow-auto rounded-xl max-w-screen-md ",
          hideScrollBars && '[scrollbar-width:none] [-ms-overflow-style:none] [&::-webkit-scrollbar]:hidden'
        ) }>
          <!-- <MemoryUsageTable client:only="react" /> -->
          <ProcessInfoWidget client:only="react" />
        </div>
      </div>
    </main>
  </body>
</html>
