---
import '@/styles/data-table.css'
import AdminPageInfo from '@/components/admin/AdminPageInfo.astro'
import AdminCommandLine from '@/components/admin/AdminCommandLine'
import ContainerLabeled from '@/components/astro/ContainerLabeled.astro'
import AdminPanel from '@/layouts/AdminPanel.astro'

export const prerender = false

// =====================================
// Admin Page
// =====================================

const { user } = Astro.locals

if (!user) {
  return Astro.redirect('/admin/login', 302)
}

const adminPageInfo = {
  ...process.env,
}
---

<AdminPanel>
  <div class="flex h-full flex-row flex-1 overflow-hidden max-h-screen justify-center items-start gap-16 p-16">
    <!-- welcome message & search bar -->
    <div class="flex flex-col gap-y-4 flex-1 self-stretch max-w-screen-xl">
      <p class="text-white text-3xl font-bold">Admin Panel</p>
      <p class="tracking-wide text-sm text-neutral-400 py-2">
        Welcome to the admin page <a class="text-blue-500" href="/admin/user">{user.username}</a>!
      </p>
      <AdminCommandLine client:only="react" />
    </div>
    <ContainerLabeled label="Environment" className="basis-1/4 max-w-screen-xs max-h-[600px]">
      <AdminPageInfo data={adminPageInfo} />
    </ContainerLabeled>
  </div>
</AdminPanel>
