---
import { PATH } from '@/consts'
import AdminPanel from '@/layouts/AdminPanel.astro'
import chalk from 'chalk'

export const prerender = false

const TAG =
  chalk.white('[@] ' + Astro.request.method + ' ') +
  chalk.gray(Astro.url.pathname) +
  '\t'

const { user, isLoggedIn } = Astro.locals

console.log({ user })

if (!isLoggedIn || !user) {
  console.warn(TAG, chalk.yellow('NOT_LOGGED_IN'), chalk.gray('redirecting...'))
  return Astro.redirect(PATH.ADMIN_LOGIN(), 302)
}
---

<AdminPanel user={user}>
  <div class="bg-neutral-900 flex-1 flex"></div>
</AdminPanel>
