---
import AdminPanel from '@/layouts/AdminPanel.astro'
---

<AdminPanel>
  <main>
    <p>Register Passkey</p>
  </main>
</AdminPanel>

<script>
  import { webAuthnClient } from '@/lib/webauthn/client'

  document.addEventListener('DOMContentLoaded', async () => {
    try {
      const result = await webAuthnClient.register()
      console.log('[admin][webauthn] result:', result)
    } catch (e) {
      console.warn('[admin][webauthn] error:', e)
    }
  })
</script>
